:host {
    z-index: 1000;
}
header {
    min-height: 50px;
    display: grid;
    align-items: center;
    .header-content {
        //display: grid;
        //grid-template-columns: auto auto;
        //justify-content: space-between;
        &-logo {
            display: grid;
            align-items: center;
        }
        .content-menu-button {
            display: none;
            @media (max-width: 768px) {
                display: grid;
            }
            .menu-button {
                display: grid;
                justify-items: end;
                img {
                    width: 30px;
                    cursor: pointer;
                }
            }
        }
        .content-list-nav {
            @media (max-width: 768px) {
                display: none;
                margin-top: 1rem;
            }
        }
        &-nav {
            ul {
                @media (max-width: 768px) {
                    flex-direction: column;
                }
                gap: 2rem;
                margin: 0;
                padding: 0;
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: space-between;
                li {
                    cursor: pointer;
                    &:last-child {
                        padding: 0;
                    }
                    a {
                        position: relative;
                        cursor: pointer;
                    }
                    div {
                        width: 250px;
                        overflow: hidden;
                        background: white;
                        position: absolute;
                        z-index: 10000;
                        border-radius: 4px;
                        box-shadow: 0 0 5px 1px rgb(208 208 208 / 44%);
                        a {
                            cursor: pointer;
                            display: grid;
                            padding: 8px 22px;
                            &:hover {
                                background: rgb(208 208 208 / 44%);
                            }
                        }
                    }

                    .background {
                        z-index: 500;
                        position: fixed;
                        background: transparent;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}

.show-dropdown {
    display: block !important;
}
