<header class="px-5 py-4">
    <div class="header-content row">
        <div class="col col-xl-6 col-sm-10 d-grid">
            <div class="header-content-logo">
                <img src="assets/images/logo.svg" alt="logo" />
            </div>
        </div>

        <div class="col col-sm-2 content-menu-button">
            <div class="menu-button">
                <img src="assets/images/bars-solid.svg" alt="" (click)="openMenu()" />
            </div>
        </div>

        <div class="col col-xl-6 col-sm-12 content-list-nav" [class.show-dropdown]="viewMenu">
            <nav class="header-content-nav">
                <ul>
                    <li class="text nav-item">
                        <a class="nav-link dropdown-toggle" (click)="openDropdown()">
                            Productos de arrendamiento
                        </a>
                        <div *ngIf="viewDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>

                        <div class="background" (click)="openDropdown()" *ngIf="viewDropdown"></div>
                    </li>
                    <li class="text">Nosotros</li>
                    <li class="text">
                        <button type="button" class="btn btn-primary btn-lg">CONTACTANOS</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
