<div class="card p-4 box-shadow-leasemd border-0">
    <div class="card-body">
        <div class="content-grid">
            <div class="subtitle">Solicita una cotizaci&oacute;n</div>
            <form
                (ngSubmit)="submit($event)"
                [formGroup]="form"
                class="content-form-field"
                *ngIf="listDistributors$ | async as listDistributors"
            >
                <ng-container *ngIf="!ready; else listo">
                    <div class="input-field">
                        <label for="distribuidro">Distribuidor</label>
                        <select
                            name="distribuidro"
                            id="distribuidro"
                            formControlName="idDistribuidor"
                            [class.danger]="
                                !form.get('idDistribuidor')?.valid && form.get('idDistribuidor')?.touched
                            "
                        >
                            <option disabled value="" selected>Seleccionar</option>
                            <option *ngFor="let distribuidro of listDistributors" [value]="distribuidro.id">
                                {{ distribuidro.name }}
                            </option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label for="pagina">Pagina del auto</label>
                        <input
                            formControlName="paginaAuto"
                            type="text"
                            id="pagina"
                            placeholder="Ingrese el stock ID o URL de la pagina del auto."
                            [class.danger]="!form.get('paginaAuto')?.valid && form.get('paginaAuto')?.touched"
                        />
                    </div>

                    <div class="input-field">
                        <label for="nombre">Tu nombre completo</label>
                        <input
                            formControlName="nombreCompleto"
                            type="text"
                            id="nombre"
                            [class.danger]="
                                !form.get('nombreCompleto')?.valid && form.get('nombreCompleto')?.touched
                            "
                        />
                    </div>

                    <div class="input-field">
                        <label for="correo">Tu correo electr&oacute;nico</label>
                        <input
                            formControlName="email"
                            type="text"
                            id="correo"
                            [class.danger]="!form.get('email')?.valid && form.get('email')?.touched"
                        />
                    </div>

                    <div class="text-info">
                        <img src="../../../../../assets/images/info.svg" alt="" />
                        <p>
                            Uno de nuestros ejecutivos prepar&aacute; tu cotizaci&oacute;n y te la har&aacute;
                            llegar a tu correo electr&oacute;nico
                        </p>
                    </div>
                </ng-container>
                <ng-template #listo>
                    <div class="d-grid text-center">
                        <p class="text py-5">¡Tu cotizaci&oacute;n esta en camino!</p>
                    </div>
                </ng-template>
                <div class="content-button">
                    <button class="btn btn-primary btn-lg">
                        <span class="py-6" *ngIf="!loading; else noLoading">
                            {{ !ready ? 'SOLICITAR COTIZACI&Oacute;N' : 'REGRESAR' }}
                        </span>
                        <ng-template #noLoading>
                            <span class="py-6"> PLASE WAIT... </span>
                        </ng-template>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
