.content-grid {
    display: grid;
    gap: 8px;
    text-align: center;
    justify-self: center;
    min-height: 660px;
    .subtitle {
        margin-bottom: 2rem;
    }
    .content-form-field {
        display: grid;
        gap: 2rem;
        .content-button {
            display: grid;
            justify-content: center;
            align-items: center;
            .btn {
                padding: 16px 18px;
            }
        }
    }
}
