:host {
    display: grid;
    height: 100%;
}

.section-1 {
    min-height: 100vh;
    position: relative;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 7%,
        rgba(172, 104, 255, 0.8) 24%,
        rgba(80, 88, 252, 0.6) 39%,
        rgba(65, 141, 255, 0.4) 49%,
        rgba(255, 255, 255, 1) 60%
    );

    .content-primary {
        z-index: 10;
        position: relative;
    }

    .img-content-car {
        flex: 1;
        display: grid;
        align-items: center;
        position: relative;
        img {
            position: absolute;
            right: -15rem;
            @media (max-width: 768px) {
                position: relative;
                right: 0;
                width: 100%;
            }
        }
    }
}
.section-2 {
    margin-top: -1px;
    color: white;
    background-color: black;
    min-height: 250px;
    .titulo {
        color: white;
    }
}
