<section class="py-4 section-1">
    <div class="px-5">
        <div class="row content-primary">
            <div class="col col-xl-7 col-sm-12 py-4 d-flex flex-column">
                <div class="titulo">Conduce el auto de tus sueños</div>
                <div class="text text-info py-3">
                    <p class="bold size-medium">
                        Tenemos para ti un plan de arrendamiento de auto seminuevo a precio preferencial y con
                        el m&aacute;ximo beneficio fiscal que la ley permite.
                    </p>
                </div>

                <div class="d-grid img-content-car">
                    <img src="assets/images/cars.png" alt="" />
                </div>
            </div>

            <div class="col col-xl-5 col-sm-12">
                <leasemd-form-contact></leasemd-form-contact>
            </div>
        </div>
    </div>
</section>
<section class="section-2 py-4">
    <div class="px-5">
        <div class="d-grid gap-2">
            <div class="titulo">Estrenar un auto nunca ha sido tan f&aacute;cil.</div>
            <p class="text">
                El arrendamiento de un seminuevo puede ser a&uacute;n m&aacute;s valioso si puedes tener el
                mejor acuerdo con el distribuidor. LeaseMD lleva a cabo esta negociaci&oacute;n por ti,
                garantiz&aacute;ndote el mejor acuerdo posible
            </p>
        </div>
    </div>
</section>

<section class="section-3 py-5 background-gray">
    <div class="px-5">
        <div class="row py-4 position-relative">
            <div class="col-xl-6 col-sm-12 pb-5">
                <div class="titulo position-sticky titulo-sticky">
                    Ofrecemos m&aacute;s que el arrendamiento de un seminuevo.
                </div>
            </div>
            <div class="col-xl-6 col-sm-12">
                <div class="d-grid gap-4">
                    <div class="card box-shadow-leasemd-card" *ngFor="let item of array">
                        <div class="card-body">
                            <div class="px-4 py-2">
                                <div class="card-title">
                                    <div class="titulo titulo-2">Smart Gas</div>
                                </div>
                                <div class="card-text color-text-primary fw-semibold">
                                    Tarjeta siempre cargada para pagar y deducir tu gasto de combustible.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
