.input-field {
    position: relative;
    :is(input, select, textarea) {
        border-radius: 2px;
        padding: 2px 12px;
        border: 1px solid rgb(var(--border-rgb));
        width: 100%;
        min-height: 48px;
        &:focus {
            border: 1px solid var(--boton-color);
            outline: none;
        }
        &.danger {
            border: 1px solid red;
        }
    }
    label {
        position: absolute;
        top: -12px;
        left: 10px;
        background: #fff;
        display: grid;
        z-index: 5;
        padding: 0 10px;
        font-weight: 700;
    }
}

.input-subscribe {
    display: grid;
    grid-template-columns: 1fr auto;
    .icon-boton {
        background: var(--primary);
        display: grid;
        place-items: center;
        width: 50px;
        padding: 14px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
    input {
        padding: 2px 12px;
        border: 1px solid var(--primary);
        width: 100%;
        min-height: 50px;
        border-radius: 4px 0 0 4px;

        &:focus {
            border: 1px solid var(--boton-color);
            outline: none;
        }
    }
}
