/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');
@import 'variables';
@import 'input';
@import '~bootstrap/dist/css/bootstrap.css';

* {
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

.titulo {
    font-family: var(--font);
    font-weight: 700;
    color: var(--primary-text);
    font-size: 3rem;
    line-height: 1;

    &.titulo-2 {
        font-size: 1.8rem;
    }
}

.titulo-sticky {
    top: 100px;
}
.subtitle {
    font-weight: 500;
    font-size: 2rem;
    font-family: var(--font);
    color: var(--secound-text);
}

.text {
    font-family: var(--font);
    font-weight: 400;
}

.box-shadow-leasemd {
    box-shadow: 0 0 10px 1px #d0d0d0 !important;
}

.box-shadow-leasemd-card {
    border: none !important;
    box-shadow: 0 0 5px 1px rgba(208, 208, 208, 0.44) !important;
}

.border-none {
    border: none;
}

.text-info {
    gap: 0.8rem;
    display: grid;
    grid-template-columns: auto auto;
    img {
        width: 35px;
        height: 35px;
    }
    p {
        text-align: left;
        font-size: 16px;
        margin: 0;
        color: rgb(var(--gray-thin));
        font-weight: 500;

        &.size-medium {
            font-size: 18px;
        }
        &.bold {
            font-weight: 600 !important;
        }
    }
}

ul {
    list-style: none;
    padding: 0;
}
