:root {
    --primary: #282828;
    --secound: #8710be;

    // FONT
    --font: 'Montserrat', Arial, sans-serif;

    // FONT COLOR
    --primary-text: #282828;
    --secound-text: #8710be;

    // BOTONES COLOR
    --boton-color: #3180f9;

    // FONDO
    --gray: #f5f7fa;
    --gray-thin: 171, 171, 171;

    --border-rgb: 221, 221, 221;
}

.background-gray {
    background-color: var(--gray);
}

.color-text-primary {
    color: var(--primary);
}

.divider {
    margin: 0.5rem 0;
    border-top: 1px solid rgb(var(--border-rgb));
}
