<footer class="p-5">
    <div class="row">
        <div class="col-xl-3 col-sm-12">
            <div class="mb-4">
                <img src="assets/images/logo.svg" alt="" />
            </div>
        </div>
        <div class="col-xl-3 col-sm-12">
            <div class="footer-content-col">
                <div class="title-footer">Nuestros productos</div>
                <ul>
                    <li>
                        <a href="#">Arrendamiento de auto</a>
                    </li>
                    <li>
                        <a href="#">Arrendamiento de equipo m&eacute;dico</a>
                    </li>
                    <li>
                        <a href="#">Linea de arrendamiento</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-2 col-sm-12">
            <div class="footer-content-col">
                <div class="title-footer">La compañ&iacute;a</div>
                <ul>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Cont&aacute;ctenos</a></li>
                    <li><a href="#">Soy cliente</a></li>
                    <li><a href="#">&Uacute;nete a nuestro equipo</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12">
            <div class="footer-content-col">
                <div class="title-footer">Recibe nuestras promociones</div>

                <ul>
                    <li>
                        <div class="input-subscribe">
                            <input
                                type="email"
                                id="subscribe"
                                placeholder="Ingresa tu correo electrónico"
                            />
                            <div class="icon-boton">
                                <img src="assets/images/arrow.svg" alt="" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row w-100">
        <div class="align-content-end d-flex justify-content-xl-end gap-4 my-4 justify-content-sm-center">
            <div class="red-social">
                <a href="https://mx.linkedin.com/"
                    ><img src="assets/images/linkedin-logo.svg" alt="link-linkedin"
                /></a>
            </div>
            <div class="red-social">
                <a href="https://www.facebook.com/"
                    ><img src="assets/images/fb-logo.svg" alt="link-facebook"
                /></a>
            </div>
            <div class="red-social">
                <a href="https://twitter.com/?lang=es"
                    ><img src="assets/images/twitter-logo.svg" alt="link-twitter"
                /></a>
            </div>
        </div>
    </div>
</footer>
