.footer-content-col {
    .title-footer {
        font-weight: 600;
        font-size: 1.5rem;
    }

    ul {
        margin-top: 1rem;
        display: grid;
        li {
            padding: 8px 0;
            font-size: 16px;
            font-weight: 600;
            a {
                color: var(--primary);
                text-decoration: none;
                &:hover {
                    color: var(--boton-color);
                }
            }
        }
    }
}

.red-social {
    img {
        width: 45px;
    }
}
